h1{
    text-align: center;
    background-color: gainsboro;
}


input[type=text] {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc;
    border-radius: 4px; 
    margin-bottom: 20px; 

  }
 
  .container {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 500px;
  }
  .flex-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  footer{
    background-color:black;
    display: flex;
    padding: 60px;
  
}
footer div  {
    font-size: 100%;
    color: #f1f1f1;
}